<div class="header">
    @*<div class="dummy_left">&nbsp;</div>*@
    <div class="header_logo">
        <img src="@Url.Content("~/Content/images/logo_jntu.jpg")" alt="JNTU Hyderabad Logo" />
    </div>
    <div class="header_titles">
        <span class="title_jntu">Jawaharlal Nehru Technological University Hyderabad</span>
        <span class="title_aac">UNIVERSITY ACADEMIC AUDIT CELL</span>
        <span class="title_address">Kukatpally, Hyderabad – 500 085, Telangana, India</span>
    </div>
    <div class="header_right">
        &nbsp;
    </div>
    @*<div class="dummy_right">&nbsp;</div>*@
    <div class="clear"></div>
</div>
